{% extends "base.html" %}

{% block title %}Classes{% endblock %}

{% block content %}


<div class="overflow-x-auto px-4">
  <!-- Classes Table -->
  <table class="w-full table-auto bg-white border border-gray-300 rounded-md shadow-md">
    <thead>
      <tr class="bg-indigo-500 text-white text-left">
        <th class="py-3 px-4 border-b border-gray-300">S No</th>
        <th class="py-3 px-4 border-b border-gray-300">Activity</th>
        <th class="py-3 px-4 border-b border-gray-300">Instructor</th>
        <th class="py-3 px-4 border-b border-gray-300">DateTime</th>
        <th class="py-3 px-4 border-b border-gray-300">Total Slots</th>
        <th class="py-3 px-4 border-b border-gray-300">Available Slots</th>
        <th class="py-3 px-4 border-b border-gray-300">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for class in classes %}
      <tr class="hover:bg-indigo-50 text-gray-800">
        <td class="py-3 px-4 border-b border-gray-300">{{ class.id }}</td>
        <td class="py-3 px-4 border-b border-gray-300">{{ class.name }}</td>
        <td class="py-3 px-4 border-b border-gray-300">{{ class.instructor }}</td>
        <td class="py-3 px-4 border-b border-gray-300">
          <span class="datetime" data-dt="{{ class.datetime }}"></span>
        </td>
        <td class="py-3 px-4 border-b border-gray-300">{{ class.total_slots }}</td>
        <td class="py-3 px-4 border-b border-gray-300">{{ class.available_slots }}</td>
        <td class="py-3 px-4 border-b border-gray-300">
          {% if class.available_slots > 0 %}
            <a href="/book?class_id={{ class.id }}" class="text-blue-600 hover:underline">Book</a>
          {% else %}
            <span class="text-gray-400">Full</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}